{% extends 'base.html' %}

{%block title%} Products Page {%endblock%}

{%block content%}
<div class="product-list">
    {% for p in products %}
        <div class="product-box">
            <img src="{{ p.product_image.url }}" alt="{{ p.name }}" class="product-image">
            <h3>{{ p.name }}</h3>
            <p>{{ p.description }}</p>
            <p>€{{ p.price }}</p>
            <a href="/products/{{ p.id }}" class="btn btn-primary">View</a>
        </div>
    {% endfor %}
</div>
{%endblock%}
