{% extends 'base.html' %}

{% block title %}Your Basket{% endblock %}

{% block content %}
<br>
<div class="center">
<h1>Your Basket</h1>

{% if basket_items %}
    <table>
        <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        {% for item in basket_items %}
        <tr>
            <td><img src="{{ item.product_id.product_image.url }}" alt="{{ item.product_id.name }}" style="width: 75px; height: 75px;"/></td>
            <td>{{ item.product_id.name }}</td>
            <td>
                <!-- Quantity Update -->
                <form action="{% url 'update_quantity' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>€{{ item.product_id.price }}</td>
            <td>€{{ item.item_price }}</td>
            <td>
                <!-- Remove Button -->
                <form action="{% url 'remove_from_basket' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="center">
    <p><strong>Total Price: €{{ total_price }}</strong></p>

    <a href="{% url 'order' %}" class="btn btn-primary">Proceed to Checkout</a>

{% else %}
    <p>Your basket is empty.</p>
{% endif %}

<a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
<a href="{% url 'view_orders' %}" class="btn btn-primary">View All Orders</a>
    </div>
</div>
{% endblock %}