{% extends 'base.html' %}

{% block title %}Your Orders{% endblock %}

{% block content %}
<h1>Your Orders</h1>

{% if orders %}
    <table>
        <tr>
            <th>Order ID</th>
            <th>Date Ordered</th>
            <th>Total Price</th>
            <th>Details</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.date_ordered }}</td>
            <td>€{{ order.total_price }}</td>
            <td><a href="{% url 'order_confirmation' order.id %}" class="btn btn-primary">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have no completed orders.</p>
{% endif %}
<div class="center">
<a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
</div>
{% endblock %}
